<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google" content="notranslate">
        <title>mapchip selector</title>
        <link rel="stylesheet" href="./webassets/bulma.min.css"></link>
        <link rel="stylesheet" href="./webassets/bulma-list.css"></link>
        <link rel="stylesheet" href="./webassets/justflex.css"></link>

        <style>
            /* #headeer {
                position: fixed;
            } */
            #chip_list {
                padding: 0.25rem;
                margin-bottom: 0.25rem;
            }
            .force-fore {
                z-index: 1024;
            }
            .chip-attribute{
                margin: 0; padding: 0;
                padding-top: 0.2rem;
                font-size: 0.6rem;
                color: darkslategrey;
            }
            #chip-panel {
                width: 192px;
                /* max-height: calc(100vh - 101px); */
            }
            #source-mapchip-panel {
                margin: 0;
                padding: 1rem;
                min-width: 100%; min-height: 100%;
                position: fixed;
            }
            #source-mapchip-canvas {
                position: relative;
                display: inline-block;
                padding: 0;
                margin: 0;
                overflow: auto;
                background-repeat: repeat;
            }
            #destination-mapchip-panel{
                margin: 0;
                padding: 1rem;
                min-width: 100%; min-height: 100%;
                position: fixed;
            }
            #destination-mapchip-canvas{
                position: relative;
                display: inline-block;
                padding: 0;
                margin: 0;
                overflow: auto;
                background-repeat: repeat;
                width: 1024px;
                height: 800px;
            }
            .bgtile{ background-image: url(bgtile.gif); }
            .bgwhite{ background-image: url(bgwhite.gif); }
            .bgblack{ background-image: url(bgblack.gif); }
            .bgred{ background-image: url(bgred.gif); }
            .bggreen{ background-image: url(bggreen.gif); }
            .bgblue{ background-image: url(bgblue.gif); }
            img {
                image-rendering: pixelated;
                width: auto; height: auto;
                margin: 0; padding: 0;
            }
            img.x10 {
                width: attr(source_width px, 480px);
                height: attr(source_height px, 256px);
            }
            img.x15 {
                width: calc(attr(source_width px, 480px) * 1.5);
                height: calc(attr(source_height px, 256px) * 1.5);
            }
            img.x20 {
                width: calc(attr(source_width px, 480px) * 2);
                height: calc(attr(source_height px, 256px) * 2);
            }
            .mapchippane {
                border: 0.5px dotted white;
                outline: 0.5px dotted black;
                opacity: 0.25;
            }
            .mapchippane:hover {
                opacity: 0.5;
                background-color: yellow;
                border: 0.5px solid red;
                outline: none;
            }
            .mapchippane.selected {
                opacity: 0.25;
                animation: bgcolor 2s infinite;
                border: none;
                outline: none;
            }
            @keyframes bgcolor {
                0% { background-color: yellow; }
                50% { background-color: black; }
                100% { background-color: yellow; }
            }
        </style>
    </head>

<body>

    <div id="app" justflex-v>
        <!-- header -->
        <div id="header">

            <div class="field is-horizontal">
                <div class="field-body">

                    <div class="field has-addons">
                        <p class="control">
                            <button class="button is-small" @click="switchView('sideview')" :class="getViewActiveClass('sideview')">SideView</button>
                        </p>                    
                        <p class="control">
                            <button class="button is-small" @click="switchView('topview')" :class="getViewActiveClass('topview')">TopView</button>
                        </p>
                    </div>

                    <div class="field has-addons">
                        <p class="control">
                            <button class="button" @click="addSourceIndex(-1)">&lt;&lt;</button>
                        </p>
                        <p class="control">
                            <a class="button is-static" content="content">
                                {{ getSourceIndexLabel() }}
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" type="tel" :value="getFilenameFromPath(source_panel.path)" readonly />
                        </p>
                        <p class="control">
                            <button class="button"@click="addSourceIndex(1)">&gt;&gt;</button>
                        </p>
                    </div>

                    <div class="field has-addons">
                        <p class="control">
                            <div class="select">
                                <select v-model="source_panel.scale">
                                    <option :value="scale" v-for="scale in IMAGE_SCALES">{{ scale }}</option>
                                </select>
                            </div>
                        </p>
                    </div>

                    <div class="field has-addons">
                        <p class="control">
                            <div class="select">
                                <select v-model="source_panel.bg">
                                    <option :value="klass" v-for="klass in BG_CLASSES">{{ klass }}</option>
                                </select>
                            </div>
                        </p>
                    </div>

                    <div class="tabs">
                        <ul>
                            <li :class="current_main_panel=='source'?'is-active':''" @click="current_main_panel='source'"><a>Source</a></li>
                            <li :class="current_main_panel=='destination'?'is-active':''" @click="current_main_panel='destination'"><a>Destination</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>

        </div>

        <!-- body -->
        <div justflex-h juststrech>

            <!-- side panel -->
            <div id="chip-panel">
                <div class="container">
                    <div id="chip_list" class="is-clearfix">

                        <div class="is-pulled-left" v-for="(chip, index) in chips[chips_panel.view]" @click="setCurrentChip(chip)">
                            <figure class="image is-32x32" :class="source_panel.bg">
                                <img :src="chip.path" :style="getChipSprite(chip, 32)" />
                            </figure>
                        </div>

                    </div>

                    <div id="chip_detail" v-if="chips_panel.current_chip">
                        <figure class="image is-128x128" :class="source_panel.bg">
                            <img :src="chips_panel.current_chip.path" :style="getChipSprite(chips_panel.current_chip, 128)" />
                        </figure>
                        <h4>Source</h4>
                        <p>
                            <code>
                                {{ chips_panel.current_chip.view }}
                                @{{ getFilenameFromPath(chips_panel.current_chip.path) }}
                            </code>
                        </p>
                        <p>
                            <code>
                                #{{ chips_panel.current_chip.rect.p1.index }}~#{{ chips_panel.current_chip.rect.p2.index }}
                                ({{ chips_panel.current_chip.rect.p2.x - chips_panel.current_chip.rect.p1.x + 1 }}x{{ chips_panel.current_chip.rect.p2.y - chips_panel.current_chip.rect.p1.y + 1 }})
                            </code>
                        </p>
                        <p class="chip-attribute" :title="chips_panel.current_chip.attr">
                            {{ chips_panel.current_chip.attr }}
                        </p>
                        <div>
                            <button class="button is-small" @click="editChipAttr(chips_panel.current_chip)">
                                📝 attr
                            </button>
                            <button class="button is-small" @click="editChipRect(chips_panel.current_chip)">
                                📍 p2
                            </button>
                            <button class="button is-small" @click="removeChipRect(chips_panel.current_chip)">
                                🗑️ del
                            </button>
                        </div>
                        <h4>Destination</h4>
                        <code v-if="chips_panel.current_chip.out">
                            ({{ chips_panel.current_chip.out.x }}, {{ chips_panel.current_chip.out.y }})
                        </code>
                        <code v-else>not set</code>
                    </div>
                    <div v-else class="notification">
                        no chip
                    </div>

                    <div v-if="chips[chips_panel.view]?.some(c=>!!c.out)" class="field">
                        <p class="control">
                            <button class="button is-primary" @click="showCommandModal">
                                📜 Command
                            </button>
                        </p>
                    </div>                    

                </div>
            </div>

            <!-- main panel -->
            <div>
                <div class="container">
                    <div class="content">

                        <div id="source-mapchip-panel" v-if="current_main_panel=='source'">
                            <div id="source-mapchip-canvas" :class="source_panel.bg">
                                <img :class="source_panel.scale" :src="source_panel.path" :source_width="SOURCE_WIDTH" :source_height="SOURCE_HEIGHT" />
                                <div class="mapchippane" v-for="(chipframe, index) in source_panel.chipframes" :class="getChipSelectedClass(chipframe)" :style="getSourceChipStyle(chipframe)" :title="index" @click="selectChip($event, chipframe)"></div>
                            </div>
                        </div>

                        <div id="destination-mapchip-panel" v-if="current_main_panel=='destination'">
                            <div id="destination-mapchip-canvas" :class="source_panel.bg" @mouseenter="showCursor" @mouseleave="hideCursor" @mousemove.capture.stop="moveCursor">
                                <div v-for="(chip, index) in chips[chips_panel.view]" :style="getDestinationChipPositionStyle(chip)" style="position: absolute;">
                                    <img :src="chip.path" v-if="chip.out" :style="getChipSprite(chip, 0)"  @click="setCurrentChip(chip)" />
                                </div>
                                <div id="dst-chip-cursor" :style="getDestinationCursorStyle()" style="position: absolute;" @click="setOutputPosition"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!-- footer -->
        <!-- <div>
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        <strong>mapchip selector</strong>
                        by
                        <a href="https://github.com/yamahei">Yamahei</a>
                    </p>
                </div>
            </footer>
        </div> -->

        <div class="modal" :class="chips_panel.show_modal ? 'is-active' : ''"><!-- is-active -->
            <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <div class="field">
                            <p class="help">
                                Run the code in bash console ( with ImageMagick! )
                            </p>
                        </div>
                        <div class="field">
                            <pre><code id="command">{{ chips_panel.command_text }}</code></pre>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button" @click="copyToClipboard">📔 Copy</button>
                            </p>
                        </div>
                    </div>
                </div>
            <button class="modal-close is-large" aria-label="close" @click="hideCommandModal"></button>
        </div>


    </div>    

    <script type="importmap">
        {"imports": {"vue": "./webassets/vue.esm-browser.prod.js" }}
    </script>

    <script type="module">
        const LOCAL_STORAGE_KEY = "mapchip_selector_chips";
        const SOURCE_IMAGES_FILENAME = "original_mapchips.json";
        const IMAGE_SCALES = ["x10", "x15", "x20"];
        const SOURCE_WIDTH = 480;
        const SOURCE_HEIGHT = 256;
        const CHIP_SIZE = 16;
        const CHIP_SHOW_SIZE = 32;
        const VIEWS = ["sideview", "topview"];
        const BG_CLASSES = ["bgtile", "bgwhite", "bgblack", "bgred", "bggreen", "bgblue"];
        const CANVAS_FILE = "./mapchip.png";

        import { createApp } from 'vue';

        createApp({
            async beforeMount(){
                const self = this;
                // load chips from local storage
                const lsraw = localStorage.getItem(LOCAL_STORAGE_KEY);
                const has_savedata = !!lsraw;
                self.$data.chips = has_savedata ? JSON.parse(lsraw) : { topview: [], sideview: [] };

                // load source image filenames
                await fetch(SOURCE_IMAGES_FILENAME)
                .then(response => response.text())
                .then(ifraw => {
                    self.$data.sources = JSON.parse(ifraw);
                })
                .catch(error => console.error('Error fetching filenames:', error));

                self.$data.source_panel.scale = self.$data.IMAGE_SCALES[0];
                self.$data.source_panel.index = 0;
                self.$data.source_panel.path = self.$data.sources[self.$data.source_panel.index];
                self.$data.source_panel.bg = self.$data.BG_CLASSES[0];

                // set chip frames on source image
                const ABSOLUTE_ERROR = 1.4;//縦方向のナゾの誤差を補正する
                const wper = CHIP_SIZE / SOURCE_WIDTH;
                const hper = CHIP_SIZE / SOURCE_HEIGHT;
                const chip_width = Math.floor(SOURCE_WIDTH / CHIP_SIZE);
                const chip_height = Math.floor(SOURCE_HEIGHT / CHIP_SIZE);
                const chip_length = chip_width * chip_height;
                const chipframes = [...Array(chip_length)].map((_, index)=>{
                    const x = index % chip_width;
                    const y = Math.floor(index / chip_width);
                    const left = (x * CHIP_SIZE) / SOURCE_WIDTH * 100 + "%";
                    const top = (y * CHIP_SIZE) / SOURCE_HEIGHT * (100 - ABSOLUTE_ERROR) + "%";
                    const width = CHIP_SIZE / SOURCE_WIDTH * 100 + "%";
                    const height = CHIP_SIZE / SOURCE_HEIGHT * (100 - ABSOLUTE_ERROR) + "%";
                    return { index, left, top, width, height, x, y };
                });
                self.$data.source_panel.chipframes = chipframes;

                // set current view
                self.$data.chips_panel.view = VIEWS[0];

            },
            data() {
                return {
                    // constants
                    IMAGE_SCALES,
                    SOURCE_WIDTH, SOURCE_HEIGHT, 
                    CHIP_SIZE, CHIP_SHOW_SIZE,
                    BG_CLASSES,
                    CANVAS_FILE,
                    // from file
                    sources: [/* filepath, ... */],//[filepath, ...]
                    // from local storage
                    chips: {/*
                        topview: [{ view, source,  }, ...],
                        sideview: [{ source, from_index, to_index }, ...],
                    */},
                    // 
                    current_main_panel: "source",// source or destination
                    source_panel: {
                        scale: "",
                        index: 0,
                        path: null,
                        bg:"",
                        chips: [/* { index, left, top, width, height }, ... */],
                    },
                    destination_panel: {
                        cursor: { x: 0, y: 0, show: false },
                    },
                    chips_panel: {
                        view: "",// topview or sideview
                        current_chip: null,
                        show_modal: false,
                        command_text: "",
                    },
                };
            },
            methods:{
                // General
                saveData(){
                    localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(this.chips));
                },
                // Source panel
                getFilenameFromPath(path){
                    return path?.split('/').pop();
                },
                addSourceIndex(delta){
                    const sources = this.$data.sources;
                    const index = this.$data.source_panel.index;
                    this.setSourceIndex(index + delta);
                },
                setSourceIndex(index){
                    const sources = this.$data.sources;
                    if(sources[index] !== undefined){
                        this.$data.source_panel.index = index;
                        this.$data.source_panel.path = sources[this.$data.source_panel.index];
                    }
                },
                refreshSourceImageForAnimation(){
                    const self = this;
                    const index = self.source_panel.index;
                    self.source_panel.path = "";
                    setTimeout(()=>{ self.source_panel.path = self.sources[index]; }, 0);
                },
                getSourceIndexLabel(){
                    return "#" + this.source_panel.index.toString().padStart(2, '0');
                },
                getChipSelectedClass(chipFrame){
                    return this.isChipSelected(chipFrame) ? "selected" : "";
                },
                isChipSelected(chipFrame){
                    return !!this.selectChipFromFrame(chipFrame);
                },
                selectChipFromFrame(chipFrame){
                    const view = this.chips_panel.view
                    const path = this.source_panel.path;
                    const { x, y, index } = chipFrame;
                    const find = this.chips[view].find(c => {
                        if(c.path != path){ return false; }
                        return c.indexes.indexOf(index) >= 0;
                    });
                    return find;
                },
                selectChipFrameInformation(func){
                    return this.source_panel.chipframes.filter(c => {
                        return func(c);
                    });
                },
                getSourceChipStyle(chip){
                    return {
                        position: "absolute",
                        left: chip.left,
                        top: chip.top,
                        width: chip.width,
                        height: chip.height,
                    };
                },
                switchView(view){
                    this.chips_panel.view = view;
                },
                getViewActiveClass(view){
                    return this.chips_panel.view == view ? "is-active" : "";
                },
                selectChip(e, chipFrame){
                    if( !this.source_panel.path ){ return; }

                    const current_chip = this.chips_panel.current_chip;
                    if(this.isChipSelected(chipFrame)){
                        const chip = this.selectChipFromFrame(chipFrame);
                        if(current_chip != chip){
                            this.chips_panel.current_chip = chip;
                        }
                        return;
                    }
                    if(e.shiftKey){
                        this.setChipRectP2(current_chip, chipFrame.index);
                        return;
                    }

                    const view = this.chips_panel.view;
                    const path = this.source_panel.path;
                    const parts = {
                        view: view, path: path, attr: "",
                        rect: {
                            p1: { index: chipFrame.index, x: chipFrame.x, y: chipFrame.y },
                            p2: { index: chipFrame.index, x: chipFrame.x, y: chipFrame.y },
                        },
                        indexes: [chipFrame.index],
                        out: null,//{x, y}
                    };
                    this.chips[view].unshift(parts);
                    this.saveData();
                    this.setCurrentChip(parts);
                    this.refreshSourceImageForAnimation();
                },
                setCurrentChip(chip){
                    if(this.chips_panel.current_chip == chip){
                        this.chips_panel.current_chip = null;
                    }else{
                        this.chips_panel.current_chip = chip;
                        const source_index = this.sources.indexOf(chip.src);
                        this.setSourceIndex(source_index);
                        this.$forceUpdate();
                    }
                },
                getChipSprite(chip, showsize=CHIP_SHOW_SIZE){
                    const p1 = chip.rect.p1;
                    const p2 = chip.rect.p2;
                    const posx = p1.x * CHIP_SIZE;
                    const posy = p1.y * CHIP_SIZE;
                    const width = (p2.x - p1.x + 1) * CHIP_SIZE;
                    const height = (p2.y - p1.y + 1) * CHIP_SIZE;
                    const scale = showsize > 0 ? (showsize / Math.max(width, height)) : 1;

                    const style = {
                        "object-fit": "none",
                        "object-position": `-${ posx }px -${ posy }px`,
                        "width": `${ width }px`,
                        "height": `${ height }px`,
                        "transform-origin": "top left",
                        "transform": `scale(${scale})`,
                    };
                    return style;
                },
                editChipRect(chip){
                    const p1 = chip.rect.p1;
                    const index_p1 = p1.index;
                    const prompt_message = `Input rect P2's index(number <= ${index_p1})`;
                    const _index_p2 = prompt(prompt_message);
                    const index_p2 = parseInt(_index_p2);
                    const isValid = !Number.isNaN(index_p2) && Number.isInteger(index_p2) && (index_p1 <= index_p2);

                    if(!isValid){
                        const error_message = `Oops.. input[${_index_p2}] is not valid index.`;
                        alert(error_message);
                    }else{
                        this.setChipRectP2(chip, index_p2);
                    }
                },
                setChipRectP2(chip_p1, chip_p2_index){
                    const func_find_p2 = (cf) => { return cf.index == chip_p2_index; };
                    const cf_select_p2 = this.selectChipFrameInformation(func_find_p2);
                    if(cf_select_p2.length <= 0){
                        const error_message = `Oops.. input[${chip_p2_index}] is not found.`;
                        alert(error_message);
                    }else{
                        const p1 = chip_p1.rect.p1;
                        const cfp2 = cf_select_p2[0];
                        const p1x = p1.x;
                        const p1y = p1.y;
                        const p2x = cfp2.x;
                        const p2y = cfp2.y;
                        if(p1x > p2x || p1y > p2y){
                            const error_message = `Oops.. input[${chip_p2_index}] is not valid position.`;
                            alert(error_message);
                        }

                        const func_select_rect = (cf) => {
                            if(p1x > cf.x){ return false; }
                            if(p2x < cf.x){ return false; }
                            if(p1y > cf.y){ return false; }
                            if(p2y < cf.y){ return false; }
                            return true;
                        };
                        const cf_select_rect = this.selectChipFrameInformation(func_select_rect);
                        chip_p1.indexes = cf_select_rect.map(cf => cf.index);
                        chip_p1.rect.p2 = { index: chip_p2_index, x: p2x, y: p2y };
                        this.refreshSourceImageForAnimation();
                        this.saveData();
                    }

                },
                 removeChipRect(chip){
                    const view = this.chips_panel.view;
                    const chips = this.chips[view];
                    const index = chips.indexOf(chip);
                    if(index >= 0){
                        const message = "Confirm deletion?";
                        if(confirm(message)){
                            chips.splice(index, 1);
                            this.chips_panel.current_chip = null;
                            this.saveData();
                        }
                    }
                 },
                 editChipAttr(chip){
                    const message = "input chip attribute.";
                    const default_value = chip.attr;
                    const new_attr = prompt(message, default_value);
                    if(new_attr !== null){
                        chip.attr = new_attr;
                        this.saveData();
                    }
                 },
                 getDestinationChipPositionStyle(chip){
                    const out = chip.out;
                    const size = this.CHIP_SIZE;

                    if(!out){ return {}; }
                    return {
                        // position: "absolute",//not work .. write direct.
                        left: `${out.x * size}px`,
                        top: `${out.y * size}px`,
                    };
                 },
                 getDestinationCursorStyle(){
                    const cursor = this.destination_panel.cursor;
                    return {
                        // position: "absolue",//not work.. write direct
                        margin: 0, padding: 0,
                        width: `${this.CHIP_SIZE}px`,
                        height: `${this.CHIP_SIZE}px`,
                        display: cursor.show ? "block" : "none",
                        border: "solid 1px red",
                        left: `${cursor.x}px`,
                        top: `${cursor.y}px`,
                    }
                 },
                 showCursor(e){
                    this.destination_panel.cursor.show = true;
                 },
                 hideCursor(e){
                    this.destination_panel.cursor.show = false;
                 },
                 moveCursor(e){
                    const cursor = this.destination_panel.cursor;
                    const size = this.CHIP_SIZE;
                    if(e?.target.id != "destination-mapchip-canvas"){ return; }
                    cursor.x = Math.floor(e.layerX / size) * size;
                    cursor.y = Math.floor(e.layerY / size) * size;
                 },
                 setOutputPosition(){
                    if(!this.chips_panel.current_chip){ return; }
                    if(!this.destination_panel.cursor.show){ return; }
                    const size = this.CHIP_SIZE;
                    const chip = this.chips_panel.current_chip;
                    const cursor = this.destination_panel.cursor;
                    chip.out = {
                        x: Math.floor(cursor.x / size),
                        y: Math.floor(cursor.y / size),
                    };
                    this.saveData();
                },
                showCommandModal(){
                    console.log("showCommandModal");
                    this.chips_panel.command_text = this.getCommandDrawMyMapchip();
                    this.chips_panel.show_modal = true;
                    this.$forceUpdate();
                },
                hideCommandModal(){
                    console.log("hideCommandModal");
                    this.chips_panel.show_modal = false;
                    this.$forceUpdate();
                },
                getCommandDrawMyMapchip(){
                    const view = this.chips_panel.view;
                    const chips = this.chips[view]?.filter(c=>!!c.out);
                    if(!chips || chips.length <= 0){
                        return "no chip, no command.";
                    }
                    
                    const maxX = Math.max(...chips.map(c=>c.out.x + (c.rect.p2.x - c.rect.p1.x)));
                    const maxY = Math.max(...chips.map(c=>c.out.y + (c.rect.p2.y - c.rect.p1.y)));
                    const canvas_width = (maxX + 1) * CHIP_SIZE;//FIXME: multi size chip
                    const canvas_height = (maxY + 1) * CHIP_SIZE;//FIXME: multi size chip
                    const lines = [];
                    lines.push(`convert -size "${canvas_width}x${canvas_height}" xc:none "${CANVAS_FILE}" \n`);
                    lines.push(...chips.map(chip => {
                        //convert "${SRCFILE}" -crop "${WIDTH}x${HEIGHT}+${X}+${Y}" +repage "${CHIPFILE}"
                        const source = chip.path;
                        const strip = source.replace(/[\.\/]+/g, "_");
                        const p1 = chip.rect.p1;
                        const p2 = chip.rect.p2;
                        const width = (p2.x - p1.x + 1) * CHIP_SIZE;
                        const height = (p2.y - p1.y + 1) * CHIP_SIZE;
                        const cx = p1.x * CHIP_SIZE;
                        const cy = p1.y * CHIP_SIZE;
                        const geometory = `${width}x${height}+${cx}+${cy}`;
                        const out = chip.out;
                        const ox = out.x * CHIP_SIZE;
                        const oy = out.y * CHIP_SIZE;
                        const tmpfile = `/tmp/${strip}_${geometory}.png`;
                        return `convert "${source}" -crop "${geometory}" +repage "${tmpfile}" \n`
                            + `composite -geometry "+${ox}+${oy}" "${tmpfile}" "${CANVAS_FILE}" "${CANVAS_FILE}" \n`;
                    }));
                    return lines.join("\n");
                },
                copyToClipboard(){
                    navigator.clipboard.writeText(this.chips_panel.command_text);
                },

            }
        }).mount('#app');

    </script>
</body>
</html>