<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
></link>
<style>
    img{
        image-rendering: pixelated;
    }
    #color_selector {
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
    }
    #color_selector figure {
        display: block;
        width: 48px;
        margin: 4px 0;
        padding: 0;
    }
    #color_selector figure img{
        border: solid 1px silver;
    }

    #char_selector {
        max-height: 100vh;
        overflow: auto;
    }
    #char_selector figure {
        display: block;
        width: 48px;
        margin: 4px 0;
        padding: 0;
    }
    #char_selector figure img{
        border: solid 1px silver;
    }
    .char_selected {
        background-color: silver;;
    }
    .color_selected {
        background-color: silver;;
    }

    .mini-title{
        font-size: 0.8em;
        font-weight: bold;
    }

    input[type="number"] {
        text-align: right;
    }
</style>
<body>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.esm-browser.prod.js"
            }
        }
    </script>

    <div id="app" class="container">

        <div class="columns">

            <div class="column is-1">
                <div class="content">
                    <p class="mini-title">Char</p>
                    <div id="char_selector">
                        <figure class="image is-9by16" v-for="(char, index) in getCharList()" :key="index" @click="setCharID(char?.id)" :class="getSelectedCharClass(char?.id)">
                            <img :src="char?.line" />
                        </figure>
                    </div>
                </div>
            </div>


            <div class="column" :class="getColumnSizeList()[column_size]">
                <div class="content">
                    <p class="mini-title">Collision</p>
                    <div class="box">
                        <figure class="image is-9by16">
                            <img :src="getCharSrc()" />
                            <div class="collision_area" v-for="(no, index) in (chip_columns * chip_rows)" :key="index" :style="getRectStyle(index)" />
                        </figure>                
                    </div>
                </div>
                <div class="field has-addons">
                    <p class="control">
                        <button class="button" @click="addColumnSize(-1)">➖</button>
                    </p>
                    <p class="control">
                        <button class="button" @click="addColumnSize(+1)">➕</button>
                    </p>
                </div>
            </div>

            <div class="column is-1">
                <div class="content">
                    <p class="mini-title">Color</p>
                    <div id="color_selector">
                        <figure class="image is-9by16" v-for="(char, index) in getColorList()" :key="index" @click="setColorIndex(index)" :class="getSelectedCharColor(index)">
                            <img :src="char?.line" />
                        </figure>                
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="content">

                    <p class="subtitle">キャラチップの情報</p>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">画像のサイズ</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">幅</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" placeholder="幅" :value="chip_width"/>
                                </p>
                                <p class="control"><a class="button is-static">高さ</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" placeholder="高さ" :value="chip_height"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">チップ数</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">列</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" :value="chip_columns"/>
                                </p>
                                <p class="control"><a class="button is-static">行</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" :value="chip_rows"/>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                    <p class="subtitle">このキャラクタの情報</p>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">キャラクタ識別情報</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">ID</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="text" readonly :value="char_id"/>
                                </p>
                                <p class="control"><a class="button is-static">Name</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="text" v-model="char_name" @change="setCharSetting"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">当たり判定領域</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">X</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_x" @change="setCharSetting"/>
                                </p>
                                <p class="control"><a class="button is-static">Y</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_y" @change="setCharSetting"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"></label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">width</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_w" @change="setCharSetting"/>
                                </p>
                                <p class="control"><a class="button is-static">height</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_h" @change="setCharSetting"/>
                                </p>
                            </div>
                        </div>
                    </div>

                    <p class="subtitle">エクスポート</p>
                    <div vlass="field">
                        <p class="control">
                            <button class="button is-small is-fullwidth" @click="exportCharData">
                                キャラチップの情報をコンソールにエクスポート
                            </button>
                        </p>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <script type="module">
        const FILENAME = "filenames.txt";
        const LOCAL_STORAGE_KEY = "collision_editor_chars";

        import { createApp } from 'vue';

        createApp({
            async beforeMount(){
                const self = this;
                const raw = localStorage.getItem(LOCAL_STORAGE_KEY);
                if (raw) {
                    //Load chars to LocalStorage (if exists)
                    self.$data.chars = JSON.parse(raw);
                }else{
                    //Load filenames from text file (initialize data)
                    await fetch(FILENAME)
                    .then(response => response.text())
                    .then(text => {
                        const lines = text.split('\n').filter(line => line.trim());
                        const chars = self.$data.chars = {};
                        lines.forEach(line => {
                            const pathes = line.split("/");
                            const filename = pathes.pop();
                            const path = pathes.join("/");
                            const [prefix, id, index, ext] = filename.split(/[_\.]/);
                            const [name, collision_x, collision_y, collision_w, collision_h] = ["", 0, 0, 0, 0];
                            if (!chars[id]) { chars[id] = []; }
                            chars[id].push({ line, path, prefix, id, index, ext, name, collision_x, collision_y, collision_w, collision_h});
                        });
                    })
                    .catch(error => console.error('Error fetching filenames:', error));
                }
                self.$data.char_id = Object.keys(self.chars)[0];
                self.$data.char_index = 0;
            },
            data() {
                return {
                    chars: {},
                    char_id: null,
                    char_index: 0,
                    column_size: 2,
                    char_name: "name",
                    char_collision_x: 0,
                    char_collision_y: 0,
                    char_collision_w: 0,
                    char_collision_h: 0,
                    chip_width: 72,
                    chip_height: 128,
                    chip_columns: 3,
                    chip_rows: 4,
                };
            },
            methods:{
                getCharSrc(){
                    if(!this.char_id){ this.char_id = Object.keys(this.chars)[0]; }
                    if(!this.char_id){ return ""; }
                    const id = this.char_id;
                    const index = this.char_index;
                    const src = this.chars[id][index].line;
                    return src;
                },
                getColorList(){
                    const id = this.char_id;
                    return this.chars[id] || [];
                },
                setColorIndex(index){
                    this.char_index = index;
                },
                getCharList(){
                  const chars = this.chars;
                    return Object.keys(this.chars).map(id => {
                        const char = chars[id][0];
                        return { id, line: char.line };
                    });
                },
                setCharID(id){
                    this.saveData();
                    this.char_id = id;
                    this.char_index = 0;
                    const char = this.chars[id][0];
                    this.char_name = char.name || "";
                    this.char_collision_x = char.collision_x || 0;
                    this.char_collision_y = char.collision_y || 0;
                    this.char_collision_w = char.collision_w || 24;
                    this.char_collision_h = char.collision_h || 32;
                },
                getColumnSizeList(){
                    return ["is-one-fifth","is-one-quarter","is-one-third","is-two-fifths","is-half"];
                },
                addColumnSize(val){
                    const list = this.getColumnSizeList();
                    this.column_size += val;
                    if(this.column_size < 0){this.column_size = 0;}
                    if(this.column_size >= list.length){this.column_size = list.length - 1;}
                },
                setCharSetting(){
                    const char_list = this.chars[this.char_id];
                    char_list.forEach((char, index) => {
                        char.name = this.char_name;
                        char.collision_x = this.char_collision_x;
                        char.collision_y = this.char_collision_y;
                        char.collision_w = this.char_collision_w;
                        char.collision_h = this.char_collision_h;
                    });
                    this.saveData();
                },
                getRectStyle(index){
                    const w_px = 100 / this.chip_width;
                    const h_px = 100 / this.chip_height;
                    const char_width = this.chip_width / this.chip_columns;
                    const char_height = this.chip_height / this.chip_rows;
                    const chip_x = index % this.chip_columns;
                    const chip_y = Math.floor(index / this.chip_columns);
                    const base_x = chip_x * char_width * w_px;
                    const base_y = chip_y * char_height * h_px;
                    const p1_x = this.char_collision_x * w_px + base_x;
                    const p1_y = this.char_collision_y * h_px + base_y;
                    const p2_x = this.char_collision_w * w_px;
                    const p2_y = this.char_collision_h * h_px;

                    return {
                        position: 'absolute',
                        left: `${p1_x}%`,
                        top: `${p1_y}%`,
                        width: `${p2_x}%`,
                        height: `${p2_y}%`,
                        border: '1px solid red',
                        boxSizing: 'border-box',
                    };
                },
                getSelectedCharClass(char_id){
                    return this.char_id === char_id ? 'char_selected' : '';
                },
                getSelectedCharColor(color_index){
                    return this.char_index === color_index ? 'color_selected' : '';
                },
                exportCharData(){
                    console.log(JSON.stringify(this.chars, null, 2));
                },
                saveData(){
                    localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(this.chars));
                },
            }
        }).mount('#app');

    </script>
</body>
</html>