<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
></link>
<style>
    img {
        image-rendering: pixelated;
    }
    label {
        white-space: nowrap;
    }
    #color_selector, #char_selector {
        overflow: auto;
        white-space: nowrap;
    }
    #color_selector figure, #char_selector figure {
        display: inline-block;
        width: 32px;
        margin: 0 4px;
        padding: 0;
    }
    #color_selector figure img, #char_selector figure img{
        border: solid 1px silver;
    }

    .selected {
        background-color: silver;;
    }
    .has_name {
        border: dotted 2px #1a4;
    }

    .mini-title{
        font-size: 0.8em;
        font-weight: bold;
    }

    input[type="number"] {
        text-align: right;
    }
</style>
<body>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.esm-browser.prod.js"
            }
        }
    </script>

    <div id="app" class="container">

        <div class="content">
            <p class="mini-title">Char</p>
            <div id="char_selector">
                <figure class="image is-9by16" v-for="(char, index) in getCharList()" :key="index" @click="setCharID(char?.id)" :class="getCharClass(char?.id)">
                    <img :src="char?.line" />
                </figure>
            </div>
        </div>


        <div class="columns">

            <div class="column" :class="getColumnSizeList()[column_size]">
                <div class="content">
                    <p class="mini-title">Collision</p>
                    <div class="box">
                        <figure class="image is-9by16">
                            <img :src="getCharSrc()" />
                            <div class="collision_area" v-for="(no, index) in (chip_columns * chip_rows)" :key="index" :style="getRectStyle(index)" />
                        </figure>                
                    </div>
                    <p class="mini-title">Export</p>
                    <div vlass="field">
                        <p class="control">
                            <button class="button is-small is-fullwidth is-primary" @click="exportCharData">
                                Jsonをダウンロード
                            </button>
                        </p>
                    </div>

                </div>
            </div>

            <div class="column">

                <div class="columns">
                    <div class="column">
                        <p class="mini-title">Size</p>
                        <div class="field has-addons">
                            <p class="control">
                                <button class="button is-small" @click="addColumnSize(-1)">➖</button>
                            </p>
                            <p class="control">
                                <button class="button is-small" @click="addColumnSize(+1)">➕</button>
                            </p>
                        </div>
                        <p class="mini-title">Order</p>
                        <div class="field has-addons">
                            <p class="control">
                                <div class="select is-small">
                                    <select v-model="orderby" >
                                        <option value="">default</option>
                                        <option value="id">id</option>
                                        <option value="name">name</option>
                                    </select>
                                </div>

                            </p>
                        </div>

                    </div>
                    <div class="column">
                        <div class="content">
                            <p class="mini-title">Color</p>
                            <div id="color_selector">
                                <figure class="image is-9by16" v-for="(char, index) in getColorList()" :key="index" @click="setColorIndex(index)" :class="getSelectedCharColor(index)">
                                    <img :src="char?.line" />
                                </figure>                
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <p class="mini-title">Attributes</p>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="select">
                                        <select v-model="char_attr_job" @change="setCharSetting">
                                            <option value="" disabled selected style="display:none;">*job</option>
                                            <option value=""></option>
                                            <option value="wander">冒険者</option>
                                            <option value="royal">王族</option>
                                            <option value="priest">聖職者</option>
                                            <option value="noble">貴族</option>
                                            <option value="guard">軍人</option>
                                            <option value="citizen">町人</option>
                                            <option value="fork">村人</option>
                                            <option value="sailor">水夫</option>
                                            <option value="nomad">中東</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="select">
                                        <select v-model="char_attr_type" @change="setCharSetting">
                                            <option value="" disabled selected style="display:none;">*type</option>
                                            <option value=""></option>
                                            <option value="human">human</option>
                                            <option value="animal">animal</option>
                                            <option value="spirit">spirit</option>
                                            <option value="monster">monster</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="select">
                                        <select v-model="char_attr_sex" @change="setCharSetting">
                                            <option value="" disabled selected style="display:none;">*sex</option>
                                            <option value=""></option>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="select">
                                        <select v-model="char_attr_age" @change="setCharSetting">
                                            <option value="" disabled selected style="display:none;">*age</option>
                                            <option value=""></option>
                                            <option value="baby">baby</option>
                                            <option value="child">child</option>
                                            <option value="teen">teen</option>
                                            <option value="adult">adult</option>
                                            <option value="middle">middle</option>
                                            <option value="senior">senior</option>
                                            <option value="older">older</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content">

                    <p class="subtitle">キャラチップの情報</p>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label class="label">画像のサイズ</label>
                            </div>
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">幅</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" placeholder="幅" :value="chip_width"/>
                                </p>
                                <p class="control"><a class="button is-static">高さ</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" placeholder="高さ" :value="chip_height"/>
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">チップ数</label>
                            </div>
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">列</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" :value="chip_columns"/>
                                </p>
                                <p class="control"><a class="button is-static">行</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" :value="chip_rows"/>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                    <p class="subtitle">このキャラクタの情報</p>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label class="label">キャラクタ識別情報</label>
                            </div>
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">ID</a></p>
                                <p class="control"><a class="button is-static">{{ char_id }}</a></p>
                                <p class="control"><a class="button is-static">Name</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="text" v-model="char_name" @change="setCharSetting"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label class="label">当たり判定領域</label>
                            </div>
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">X</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_x" @change="setCharSetting"/>
                                </p>
                                <p class="control"><a class="button is-static">Y</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_y" @change="setCharSetting"/>
                                </p>
                            </div>
                            <div class="field has-addons">
                                <p class="control"><a class="button is-static">width</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_w" @change="setCharSetting"/>
                                </p>
                                <p class="control"><a class="button is-static">height</a></p>
                                <p class="control is-expanded">
                                    <input class="input" type="number" v-model="char_collision_h" @change="setCharSetting"/>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button" :disabled="hasCollisionSetting(char_id)" @click="setDefaultCollisionValue">
                                        仮値
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <script type="module">
        const CHARCHIP_LIST_FILENAME = "filenames.txt";
        const LOCAL_STORAGE_KEY = "collision_editor_chars";
        const COLLISION_SETTING_FILENAME = "char_sprite_settings.json";

        import { createApp } from 'vue';

        createApp({
            async beforeMount(){
                const self = this;
                const raw = localStorage.getItem(LOCAL_STORAGE_KEY);
                if (raw) {
                    //Load chars to LocalStorage (if exists)
                    self.$data.chars = JSON.parse(raw);
                }else{
                    //Load filenames from text file (initialize data)
                    await fetch(CHARCHIP_LIST_FILENAME)
                    .then(response => response.text())
                    .then(text => {
                        const lines = text.split('\n').filter(line => line.trim());
                        const chars = self.$data.chars = {};
                        lines.forEach(line => {
                            const pathes = line.split("/");
                            const filename = pathes.pop();
                            const path = pathes.join("/");
                            const [prefix, id, index, ext] = filename.split(/[_\.]/);
                            const [name, attr_job, attr_type, attr_sex, attr_age] = ["", "", "", "", ""];
                            const [collision_x, collision_y, collision_w, collision_h] = [0, 0, 0, 0];
                            if (!chars[id]) { chars[id] = []; }
                            chars[id].push({ line, path, prefix, id, index, ext, name, attr_job, attr_type, attr_sex, attr_age, collision_x, collision_y, collision_w, collision_h});
                        });
                    })
                    .catch(error => console.error('Error fetching filenames:', error));
                }
                self.$data.char_id = Object.keys(self.chars)[0];
                self.$data.char_index = 0;
                self.setCharID(self.char_id);
            },
            data() {
                return {
                    chars: {},
                    char_id: null,
                    char_index: 0,
                    column_size: 0,
                    orderby: "",
                    char_name: "name",
                    char_collision_x: 0,
                    char_collision_y: 0,
                    char_collision_w: 0,
                    char_collision_h: 0,
                    chip_width: 72,
                    chip_height: 128,
                    chip_columns: 3,
                    chip_rows: 4,
                    char_attr_job: "",
                    char_attr_type: "",
                    char_attr_sex: "",
                    char_attr_age: "",
                };
            },
            methods:{
                getCharSrc(){
                    if(!this.char_id){ this.char_id = Object.keys(this.chars)[0]; }
                    if(!this.char_id){ return ""; }
                    const id = this.char_id;
                    const index = this.char_index;
                    const src = this.chars[id][index].line;
                    return src;
                },
                getColorList(){
                    const id = this.char_id;
                    return this.chars[id] || [];
                },
                setColorIndex(index){
                    this.char_index = index;
                },
                getCharList(){
                    const chars = this.chars;
                    const char_list = Object.keys(chars);
                    if(this.orderby=="id"){
                        char_list.sort((a, b)=>{
                            const [charA, charB] = [chars[a][0], chars[b][0]];
                            if(!charA || Object.keys(charA).length === 0){ return 0; }
                            if(!charB || Object.keys(charB).length === 0){ return 0; }
                            return charA.id?.localeCompare(charB.id) || 
                                charA.name?.localeCompare(charB.name);
                        });
                    }else if(this.orderby=="name"){
                        char_list.sort((a, b)=>{
                            const [charA, charB] = [chars[a][0], chars[b][0]];
                            if(!charA || Object.keys(charA).length === 0){ return 0; }
                            if(!charB || Object.keys(charB).length === 0){ return 0; }
                            return charA.name?.localeCompare(charB.name) || 
                                charA.id?.localeCompare(charB.id);
                        });
                    }else{
                        char_list.sort((a, b)=>{
                            const [charA, charB] = [chars[a][0], chars[b][0]];
                            if(!charA || Object.keys(charA).length === 0){ return 0; }
                            if(!charB || Object.keys(charB).length === 0){ return 0; }
                            return charA.attr_job?.localeCompare(charB.attr_job) || 
                                charA.attr_type?.localeCompare(charB.attr_type) ||
                                charA.attr_sex?.localeCompare(charB.attr_sex) ||
                                charA.attr_age?.localeCompare(charB.attr_age) ||
                                charA.attr_name?.localeCompare(charB.attr_name) ||
                                charA.id?.localeCompare(charB.id);
                        });
                    }
                    return char_list.map(id => {
                        const char = chars[id][0];
                        return { id, line: char.line };
                    });
                },
                numberValueTrimmer(max, value){
                    const intval = parseInt(value, 10);
                    if(isNaN(intval)){ return 0; }
                    if(intval <= 0){ return 0; }
                    if(intval >= max){ return max; }
                    return value;
                },
                trim23(value){ return this.numberValueTrimmer(23, value); },
                trim31(value){ return this.numberValueTrimmer(31, value); },
                setCharID(id){
                    this.saveData();
                    this.char_id = id;
                    this.char_index = 0;
                    const char = this.chars[id][0];
                    this.char_name = char.name || "";
                    this.char_collision_x = char.collision_x = this.trim23(char.collision_x) || 0;
                    this.char_collision_y = char.collision_y = this.trim31(char.collision_y) || 0;
                    this.char_collision_w = char.collision_w = this.trim23(char.collision_w) || 23;
                    this.char_collision_h = char.collision_h = this.trim31(char.collision_h) || 31;
                    this.char_attr_job = char.attr_job || "";
                    this.char_attr_type = char.attr_type || "";
                    this.char_attr_sex = char.attr_sex || "";
                    this.char_attr_age = char.attr_age || "";
                },
                getColumnSizeList(){
                    return ["is-one-fifth","is-one-quarter","is-one-third","is-two-fifths","is-half"];
                },
                addColumnSize(val){
                    const list = this.getColumnSizeList();
                    this.column_size += val;
                    if(this.column_size < 0){this.column_size = 0;}
                    if(this.column_size >= list.length){this.column_size = list.length - 1;}
                },
                setCharSetting(e){
                    const char_list = this.chars[this.char_id];
                    char_list.forEach((char, index) => {
                        char.name = this.char_name;
                        char.collision_x = this.char_collision_x = this.trim23(this.char_collision_x) || 0;
                        char.collision_y = this.char_collision_y = this.trim31(this.char_collision_y) || 0;
                        char.collision_w = this.char_collision_w = this.trim23(this.char_collision_w) || 23;
                        char.collision_h = this.char_collision_h = this.trim31(this.char_collision_h) || 31;
                        char.attr_job = this.char_attr_job;
                        char.attr_type = this.char_attr_type;
                        char.attr_sex = this.char_attr_sex;
                        char.attr_age = this.char_attr_age;
                    });
                    this.saveData();
                },
                getRectStyle(index){
                    const w_px = 100 / this.chip_width;
                    const h_px = 100 / this.chip_height;
                    const char_width = this.chip_width / this.chip_columns;
                    const char_height = this.chip_height / this.chip_rows;
                    const chip_x = index % this.chip_columns;
                    const chip_y = Math.floor(index / this.chip_columns);
                    const base_x = chip_x * char_width * w_px;
                    const base_y = chip_y * char_height * h_px;
                    const p1_x = this.char_collision_x * w_px + base_x;
                    const p1_y = this.char_collision_y * h_px + base_y;
                    const p2_x = (this.char_collision_w + 1) * w_px;
                    const p2_y = (this.char_collision_h + 1) * h_px;

                    return {
                        position: 'absolute',
                        left: `${p1_x}%`,
                        top: `${p1_y}%`,
                        width: `${p2_x}%`,
                        height: `${p2_y}%`,
                        border: '1px solid red',
                        boxSizing: 'border-box',
                    };
                },
                getCharClass(char_id){
                    const char_classes = [];
                    if(this.char_id === char_id) { char_classes.push('selected'); }
                    if(this.chars[char_id][0]?.name) { char_classes.push('has_name'); }
                    return char_classes.join(' ');
                },
                getSelectedCharColor(color_index){
                    return this.char_index === color_index ? 'selected' : '';
                },
                hasCollisionSetting(char_id){
                    const char = this.chars[char_id][this.char_index];
                    const hasX = !!(char.collision_x);
                    const hasY = !!(char.collision_y);
                    const hasW = !!(char.collision_w) && (char.collision_w !== 23);
                    const hasH = !!(char.collision_h) && (char.collision_h !== 31);
                    return hasX && hasY && hasW && hasH;
                },
                setDefaultCollisionValue(){
                    this.char_collision_x = 6;
                    this.char_collision_y = 6;
                    this.char_collision_w = 12;
                    this.char_collision_h = 25;
                    this.setCharSetting();
                },
                exportCharData(){
                    let char_list = [];
                    Object.keys(this.chars).forEach(k=>{
                        char_list = char_list.concat(this.chars[k]);
                    });
                    console.log(JSON.stringify(char_list, null, 2));

                    const fileName = COLLISION_SETTING_FILENAME;
                    const data = new Blob([JSON.stringify(char_list, null, 2)], { type: 'text/json' });
                    const jsonURL = window.URL.createObjectURL(data);
                    const link = document.createElement('a');
                    document.body.appendChild(link);
                    link.href = jsonURL;
                    link.setAttribute('download', fileName);
                    link.click();
                    document.body.removeChild(link);

                },
                saveData(){
                    localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(this.chars));
                },
            }
        }).mount('#app');

    </script>
</body>
</html>