[horizontal-flex-container],
[justflex-h] {
    margin: 0; padding: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
[vertical-flex-container],
[justflex-v] {
    margin: 0; padding: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
@supports (x: attr(x type(*))) {
    [horizontal-flex-container] > [strech-flex-item],
    [vertical-flex-container] > [strech-flex-item],
    [justflex-h] > [juststrech],
    [justflex-v] > [juststrech]  {
        flex-grow: attr(strech-flex-item type(<number>), 1);
        flex-shrink: attr(strech-flex-item type(<number>), 1);
    }
}
@supports not (x: attr(x type(*))) {
    [horizontal-flex-container] > [strech-flex-item],
    [vertical-flex-container] > [strech-flex-item],
    [justflex-h] > [juststrech],
    [justflex-v] > [juststrech] {
        flex-grow: 1;
        flex-shrink: 1;
    }
}
